tensorflow==1.15.0
tensorflow-probability==0.8.0
Pillow
PyOpenGL
pyyaml
matplotlib==2.1.2
shapely
pytz
imageio==2.4.1
gym
moviepy
stable_baselines==2.10.1
optuna
sklearn
quadprog
tdqm
requests
pypoman
imutils
pykalman
mpi4py